<div class="header">
  This is the header
</div>

<div class="body">
  <div class="container">
    <div class="clients">
      <% @clients.each do |t| %>
        <div class="client">
          <img class="photo" src="<%= t.image %>">
          <span class="name"><%= t.first_name %> <%= t.last_name %><br></span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  This is the footer
</div>
