.header {
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.body {
  height: 1600px;
  width: 100%;
  background-color: red;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: purple;
}

.container {
  width: 1200px;
  background-color: pink;
  margin: auto;

}

.client {
  padding-left: 25px;
  float: left;
  display: inline;
  width: 200px;
}

.client-info {
  text-align: center;
}

.card, .bio {
  border: 1px dotted black;
  width: 350px;
}

.button {
  margin: 45px;
  padding: 15px 20px;
  border: 1px solid white;
  background-color: white;
}

a:visited {
    text-decoration: none;
}

img {
  height: 200px;
}
