.header {
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
}

.body {
  height: 400px;
  width: 100%;
  background-color: red;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: purple;
}

.container {
  width: 1200px;
  background-color: pink;
  margin: 0 auto;

}

.client {
  padding-left: 25px;

}

.row {
  display: flex;
}

.card {
  border: 1px dotted black;
  width: 350px;
}
